<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tjw.selectimage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".dragphoto.DragPhotoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".album.activities.ImageSelectActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MultiImageSelectTheme">
            <!--<intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".crop.CropActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MultiImageSelectTheme">
            <!--<intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>-->
        </activity>

    </application>

</manifest>
